<div class="container">
    <img src="<%=bookDetails[0].image_url%>" alt="" style="width: 300px;border: 10px solid #fff;">
    <div class="dis">
        <h3><%= bookDetails[0].title %></h3>
        <h4><%=bookDetails[0].authors%></h4>
        <h4><%=bookDetails[0].description%></h4>
        <h4><%=bookDetails[0].isbn%></h4>
        <h4><%=bookDetails[0].bookShelf%></h4>
    </div>
</div>