<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book-API</title>
    <link rel="stylesheet" href="/public/styles/base.css">
    <link rel="stylesheet" href="/public/styles/layout.css">
    <link rel="stylesheet" href="/public/styles/modules.css">
​
  </head>
  <body>
      <%- include( '../../layout/header' ) %>
      <main>
        <h2>Search Results</h2>

        <% searchResults.forEach( book => { %>
          <div class="container" >
                <img src="<%=book.image%>" alt="" style="width: 300px;border: 10px solid #fff;">
                <div class="dis">
                    <h3><%= book.title %></h3>
                    <h4><%=book.authors%></h4>
                    <h4><%=book.description%></h4>
                       
                    <form action="/books" method="POST">
                      <input type="text" name="image" value="<%=book.image%>" style="display: none;">
                      <input type="text" name="title" value="<%= book.title %>"  style="display: none;">
                      <input type="text" name="isbn" value="<%=book.isbn%>"  style="display: none;"> 
                      <input type="text" name="authors" value="<%=book.authors%>"  style="display: none;">
                      <input type="text" name="description" value="<%=book.description%>" style="display: none;" >
                      <input type="text" name="bookshelf" value="<%=book.bookshelf%>" style="display: none;" >

                      <button type="submit">Select This Book</button>
                    </form>
                </div>
            </div>
            <% }) %>
​
    </main>
    <%- include( '../../layout/footer' ) %>
    <script src="../../public/js/app.js"></script>
  </body>
</html>