<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Book-API</title>
    <link rel="stylesheet" href="/public/styles/base.css">
    <link rel="stylesheet" href="/public/styles/layout.css">
    <link rel="stylesheet" href="/public/styles/modules.css">
​
  </head>
<body>
      <%- include( '../layout/header' ) %>


    <main style="height: 100%;grid-template-rows:auto;">
      <h2><span id="count"><%=savedBook.rowCount%></span> Saved Books</h2>

          <% savedBook.rows.forEach( book => { %>
            <div class="container" >
                  <img src="<%=book.image_url%>" alt="" style="width: 300px;border: 10px solid #fff;">
                  <div class="dis">
                      <h3><%= book.title %></h3>
                      <h4><%=book.authors%></h4>
                      <form action="/books/<%=book.id%>">
                        <button >View Details</button>
                      </form>
                  </div>
              </div>
              <% }) %>
    </main>
    <%- include( '../layout/footer' ) %>
      <script src="../../public/js/app.js"></script>
</body>
</html>